[[source]]

url
verify_ssl
name


[packages]

"beautifulsoup4"
celery
celery-haystack
copyright
django
django-allauth
django-annoying
django-copyright
django-cors-headers
django-cors-middleware
django-dynamic-fixture
django-extensions
django-formtools
"django-gravatar2"
django-guardian
django-haystack
django-kombu
django-messages-extends
django-taggit
django-tastypie
django-textclassifier
django-vanilla-views
djangorestframework
djangorestframework-jsonp
dnspython
docker-py
future
"httplib2"
jsonfield
linaro-django-pagination
mimeparse
mkdocs
pyelasticsearch
pyquery
"python3-openid"
readthedocs-build
redis
slumber
sphinx-rtd-theme
sphinxcontrib-httpdomain
stripe
unipath
elasticsearch = "1.5.0"
"backports.ssl-match-hostname"
packaging


[dev-packages]
ipdb

[requires]

python_version
